body {
  background: gainsboro;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}


main {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h1, p {
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  margin-top: 5px;
}

.details {
  display: flex;
  text-align: left;
}
input, select {
  margin-top: 5px;
}

select {
  width: 100%;
}

.buttons {
  margin-top: 10px;
}

.btn {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.addbtn {
 background-color: #007bff;
 color: #fff;
 border: none;
}

.clearbtn {
 background-color: #fff;
 color: #000;
 border: 1px solid #000;
}

.non-rendered-text {
  border: 1px solid gray;
  text-align: center;
  padding: 10px;
  margin: 20px 0 0;
  font-size: 12px;
  border-radius: 5px;
}

.hide {
  display: none;
}

.rendered-details {
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  font-size: 12px;
}

.render-headings,
.render-names {
  display: flex;
}

.name-head,
.name {
  width: 40%;
}

.age-head,
.grade-head, .age, .grade  {
  width: 20%;
}

.render-headings {
  font-weight: 700;
  height: 10px;
  align-items: center;
  background: antiquewhite;
  padding: 10px;
}

.render-names {
    padding: 10px;
    align-items: center;
    height: 22px;
}

.removebtn {
  padding: 5px;
  border: none;
  background-color: goldenrod;
}